@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Mackinac';
    src: url('/fonts/Mackinac.otf') format('opentype');
  }

  @font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost.ttf') format('truetype');
    font-weight: 100 1000;
  }

  html {
    @apply text-dark;
  }
}
